
body {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 200px;
}

header, footer {
  padding: 20px;
  background-color: #f5f5f5;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}